.logo{
    background-color: black;
    height: 50px;
}

.logo img{
    height: 30px;
    width: auto;
}

.icona i{
    font-size: 30px;
}

.blue{
    color: #3a92d9;
}

.gray{
    color: #828282;
}

.my_jumbo{
    background-image: url(../img/img/jumbo-bg.png);
    background-size: cover;
    background-position: center;
    height: 550px;
}

#jumbotron {
    color: white;
}

/* #jumbotron img{
   height: 70px;
   width: auto;
} */

.my_games{
    background-color: darkblue;
    height: 100px;
}

.game img{
    border-radius: 20px;
    height: auto;
    width: 150px;
}


.my_ps5{
    height: 200px;
    background-color: darkgoldenrod;
}



.my_play img {
    width: 100%;
    height: auto;
}




.my_pubblicita{
    background-image: url(../img/img/it-takes-two-hero-banner-desktop.jpg);
    background-size: cover;
    background-position: center;
    height: 550px;
}



.white{
    color: white;
}

.new-game{
    background-color: #0E0E0E;
}


/* .my_ps4 img{
    height: auto;
    width: 100%;
} */

.my_plus{
    background-color: #BBB9B8;
    
}



.my_now{
    background-color: #161c3b;
}

.btn-plus{
    background-color: #d9dadc;
    color: #3b6ee4;
    font-weight: 700;
}

.btn-now{
    background-color: #f5f5f5;
    color: #131313;
    font-weight: 700;
}

.end-footer{
    background-color: #00439c;
    list-style: none;
}

.end-footer li{
    list-style: none;
}

.logo-ps{
    height: 80px;
    width: auto;
}

