.logo{
    background-color: black;
    height: 50px;
}

.logo img{
    height: 30px;
    width: auto;
}




.icona i{
    font-size: 30px;
}

.my_jumbo{
    background-image: url(../img/img/jumbo-bg.png);
    background-size: cover;
    background-position: center;
    height: 550px;
}

#jumbotron {
    color: white;
}

#jumbotron img{
   height: 70px;
   width: auto;
}

.my_games{
    background-color: darkblue;
    height: 100px;
}

.game img{
    border-radius: 20px;
    height: auto;
    width: 150px;
}


.my_ps5{
    height: 200px;
    background-color: darkgoldenrod;
}

.my_play{
    background-color: darkorchid;
    height: 150px;
    width: 150px;
}